<nav>
    <ul>
        <li>
            <a href='/'>Home</a>
        </li>
        <li>
            <a href='/producto'>Producto</a>
        </li>
        <li>
            <a href='/listarproducto'>Listado de Productos</a>
        </li>
    </ul>
</nav>



<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>