

<main>
    <div class="m-5">
        <h1 class="text-center">
            Formulario de Login
        </h1>
    </div>

    <div class="container">
        <!-- Content here -->
        <form action="/users" method="post">
            <div class="mb-3">
                <label for="user" class="form-label">User</label>
                <input type="text" class="form-control" id="user" name="user">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="m-5 text-center">
                <button type="submit" class="btn btn-success w-50">Enviar Datos</button>
                <button type="reset" class="btn btn-danger w-50 mt-4">Borrar Datos</button>
            </div>
        </form>
    </div>
</main>

